@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

p {
	font-size: 20px;
	font-weight: 400;
	line-height: 30px;
}

.button {
	display: block;

	background-color: #ff7058;
	border-radius: 15px;

	font-size: 18px;
	font-weight: 500;
	line-height: 25px;
	text-align: center;

	cursor: pointer;
}

/* ////////////////////////////////// */
* {
	font-family: "Poppins", sans-serif;
}

.container {
	max-width: 1440px;
	margin: 0 auto;

	background-color: #ffffff;
}

.content-wrapper {
	max-width: 1280px;

	margin: 0 auto;
}

/* ////////////////////////////////// */
.header-wrapper {
	height: 110px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-logo {
	font-size: 48px;
	font-weight: 700;
	line-height: 72px;
	color: #ff7058;
}

.header-nav {
	display: flex;
	align-items: center;
}

.header-menu-list {
	padding-right: 30px;
	margin-right: 30px;
	border-right: 1.5px solid #94959a;
}

.header-menu-item {
	margin-right: 50px;
	display: inline-block;
	font-size: 18px;
	font-weight: 600;
	line-height: 27px;
	color: #94959a;
}

.header-menu-item:last-child {
	margin-right: 0;
}

.header-buttons {
	display: flex;
}

.header-button-login {
	margin-right: 30px;
	padding: 12px 16px;
	background-color: #ffffff;
	border-radius: 6px;
	color: #120d26;
	font-size: 16px;
	font-weight: 600;
}

.header-button-sighup {
	padding: 12px 42px;
	background-color: #120d26;
	border-radius: 6px;
	color: #ffffff;
	font-size: 16px;
	font-weight: 600;
}

/* ////////////////////////////////// */
.banner>img {
	position: absolute;
}

.banner-wrapper {
	display: flex;
	justify-content: space-between;
}

.banner-info {
	max-width: 585px;
	padding: 100px 0 130px 0;
}

.banner-title {
	margin-bottom: 30px;
	font-size: 72px;
	font-weight: 700;
	line-height: 90px;
	color: #120d26;
}

.banner-description {
	margin-bottom: 60px;
	color: #94959a;
}

.banner-button {
	margin-right: 30px;
	padding: 22px 55px 22px 50px;
	display: inline-block;
	background-color: #ff7058;
	border-radius: 15px;
	color: #FFFFFF;
}

.banner-button img {
	margin-left: 18px;
}

.banner-button-info {
	font-size: 16px;
	font-weight: 500;
	line-height: 24px;
	color: #ff7058;
}

.banner-image {
	margin: 50px 0 85px 0;
}

.banner-image {
	border-radius: 15px;
}

/* ////////////////////////////////// */
.company-title {
	margin-bottom: 50px;
	font-size: 22px;
	font-weight: 500;
	line-height: 34px;
	color: #94959a;
	text-align: center;
}

.company-logos {
	display: flex;
	justify-content: space-between;
}

/* ////////////////////////////////// */
.prices {
	padding: 90px 0 140px 0;
}

.prices-info {
	margin-bottom: 50px;
	padding: 55px 0;
	background: rgba(255, 112, 88, 0.05);
	text-align: center;
}

.prices-title {
	margin-bottom: 30px;
	font-size: 40px;
	font-weight: 700;
	line-height: 60px;
}

.prices-description {
	color: #94959a;
}

.prices-cards {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 46px;
}

.prices-card-info {
	padding: 40px 50px;
	display: grid;
	gap: 20px;
	background-color: #ffffff;
	border-radius: 15px;
	box-shadow: 0px 10px 40px rgba(241, 102, 24, 0.15);
}

.prices-card-info p {
	text-align: center;
}

.prices-card-price {
	font-size: 40px;
	font-weight: 700;
	line-height: 60px;
	color: #120d26;
}

.prices-card-price span {
	font-size: 18px;
	line-height: 27px;
	color: #94959a;
}

.prices-card-title {
	font-size: 36px;
	font-weight: 600;
	line-height: 54px;
	color: #ff7058;
}

.prices-card-description {
	padding-bottom: 20px;
	color: #94959a;
	border-bottom: 2px solid #94959a;
}

.prices-card-list {
	margin: 0 auto;
	justify-self: start;
}

.prices-list-item {
	padding-bottom: 25px;
	color: #120d26;
	font-size: 20px;
	font-weight: 500;
	line-height: 30px;
}

.prices-list-item:last-child {
	padding-bottom: 0;
}

.prices-list-item::before {
	content: "";
	background-image: url(../images/icons/circle-check.svg);
	background-repeat: no-repeat;
	width: 40px;
	height: 40px;
	padding-left: 15px;
	display: inline-block;
	vertical-align: -50%;
}

.prices-button {
	padding: 30px 25px;
	display: block;
	background-color: #ff7058;
	border-radius: 15px;
	color: #FFFFFF;
}

/* ////////////////////////////////// */
.comments-info {
	padding: 55px 0;
	background: rgba(255, 112, 88, 0.05);
	text-align: center;
}

.comments-title {
	font-size: 40px;
	font-weight: 700;
	line-height: 60px;
}

.comments-wrapper {
	padding: 50px 0 180px 0;
}

.comments-cards {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 40px;
}

.comments-card-info {
	padding: 50px 0;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: #ffffff;
	border-radius: 15px;
	box-shadow: 0px 10px 40px rgba(241, 102, 24, 0.15);
}

.comments-card-title {
	margin-bottom: 30px;
	font-size: 24px;
	font-weight: 600;
	line-height: 36px;
	color: #120d26;
}

.comments-card-description {
	max-width: 310px;
	margin-bottom: 30px;
	color: #94959a;
}

.comments-card-stars {
	margin-bottom: 30px;
}

.comments-card-stars img {
	width: 25px;
	height: 25px;
}

.comments-card-author {
	color: #120d26;
}

/* ////////////////////////////////// */
.info {
	background: rgba(255, 112, 88, 0.05);
	position: relative;
}

.info-wrapper {
	padding: 130px 0 100px 0;
	display: flex;
	justify-content: space-between;
}

.info-info {
	width: 500px;
}

.info-title {
	margin-bottom: 25px;
	font-size: 40px;
	font-weight: 700;
	line-height: 60px;
	color: #120d26;
}

.info-description {
	margin-bottom: 65px;
	color: #94959A;
}

.info-button {
	margin-right: 30px;
	padding: 22px 55px 22px 50px;
	display: inline-block;
	background-color: #ff7058;
	border-radius: 15px;
	color: #FFFFFF;
}

.info-button img {
	margin-left: 18px;
}

.info-images {
	display: grid;
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 1fr 1fr;
}

.image-1 {
	margin-bottom: 40px;
	border-radius: 15px;
}

.image-2 {
	justify-self: end;
	align-self: end;
	border-radius: 15px;
}

.image-3 {
	margin-right: 40px;
	justify-self: end;
	border-radius: 15px;
}

.image-4 {
	justify-self: end;
	align-self: end;
	z-index: 2;
	border-radius: 15px;
}

.info-circles {
	position: absolute;
	top: 710px;
	left: 675px;
	z-index: 1;
}

.info>img {
	position: absolute;
	top: 160px;
	left: 930px;
}

/* ////////////////////////////////// */
.try {
	padding: 115px 0;
	background-color: rgba(255, 112, 88, 0.05);
}

.try-wrapper {
	padding: 95px 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #ff7058;
	border-radius: 25px;
	text-align: center;
}

.try-title {
	margin-bottom: 40px;
	font-size: 40px;
	font-weight: 700;
	line-height: 60px;
	color: #ffffff;
}

.try-description {
	margin-bottom: 40px;
	color: #ffffff;
}

.try-button {
	width: 230px;
	padding: 22px 24px;
	background-color: #ffffff;
	border-radius: 15px;
	color: #120d26;
}

/* ////////////////////////////////// */
.footer-wrapper {
	padding: 70px 0;
	display: flex;
	flex-direction: column;
}

.footer-nav {
	margin-bottom: 90px;
	display: flex;
	justify-content: space-between;
}

.footer-nav-menu {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 200px;
}

.footer-menu-title {
	margin-bottom: 40px;
	font-size: 24px;
	font-weight: 600;
	line-height: 36px;
	color: #120d26;
}

.footer-menu-item {
	margin-bottom: 20px;
	font-size: 18px;
	font-weight: 600;
	line-height: 27px;
	color: #ff7058;
}

.footer-menu-item:last-child {
	margin-bottom: 0;
}

.footer-button {
	width: 190px;
	height: 55px;
	padding: 14px;
	text-align: left;
	background-color: #ffffff;
	border-radius: 15px;
	box-shadow: 0px 10px 40px rgba(241, 102, 24, 0.15);
}

.footer-button img {
	margin-left: 80px;
}

.footer-info {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer-copyright {
	font-weight: 600;
	line-height: 27px;
	color: #120d26;
}

.footer-icons img {
	height: 25px;
}

.footer-icons a {
	height: 25px;
	width: 25px;
	margin-right: 30px;
	display: inline-block;
}

.footer-icons a:last-child {
	margin-right: 0;
}

/* ////////////////////////////////// */